.herosectionnew {
  position: relative;
  padding: 70px 60px;
  overflow: hidden;
  /* background-image: url("https://images.unsplash.com/photo-1607743386760-88ac62b89b8a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.herosectionnew h1 {
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.herobreadrumb {
  display: flex;
  font-weight: 600;
  gap: 5px;
  margin: 5px 0px;
  align-items: center;
}

.herosectionpara {
  width: 40%;
  color: white;
  margin-top: 10px;
}

.herobuttonsnew {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.buttonsss {
  background-color: red;
  padding: 10px 20px;
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
  border: 1px solid red;
}

.buttonsss:hover {
  background-color: white;
  color: red !important;
  border: 1px solid red;
}

@media only screen and (max-width: 999px) {
  .herosectionnew {
    padding: 60px 20px;
  }

  .herosectionnew h1 {
    font-size: 25px;
    line-height: normal;
    font-weight: 600;
  }

  .herobreadrumb {
    font-size: 13px;
  }

  .herosectionpara {
    width: 100%;
    line-height: normal;
    font-size: 13px;
    margin-top: 10px;
  }

  .herobuttonsnew {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
  }

  .button {
    background-color: red;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    border: 1px solid red;
  }

  .button:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
  }
}

.secondsection {
  display: flex;
  padding: 50px;
  width: 100%;
  gap: 20px;
}
.secondsection .left {
  width: 60%;
  padding: 20px 10px;
}

.left h2 {
  font-size: 35px;
  line-height: normal;
  font-weight: 600;
}

.left h3 {
  font-size: 20px;
}
.secondsection .right {
  width: 40%;
}
.secondsection .right img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 999px) {
  .secondsection {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 20px;
  }
  .secondsection .left {
    width: 100%;
    padding: 10px;
  }

  .left h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
  }

  .left h3 {
    font-size: 16px;
    line-height: normal;
  }
  .secondsection .right {
    width: 100%;
  }
  .secondsection .right img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.thirdsection {
  padding: 50px;
}
.thirdsection h2 {
  font-size: 30px;
  font-weight: 600;
}
.videosection {
  padding: 10px 0px;
  height: 300px;
  width: 70%;
}

.videosection iframe {
  height: 100%;
  width: 100%;
}
.thirdsection p {
  padding-right: 50px;
}

@media only screen and (max-width: 999px) {
  .thirdsection {
    padding: 20px;
  }
  .thirdsection h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .videosection {
    padding: 10px 0px;
  }
  .thirdsection p {
    padding-right: 0px;
  }
  .videosection {
    padding: 10px 0px;
    height: 300px;
    width: 100%;
  }

  .videosection iframe {
    height: 100%;
    width: 100%;
  }
}
.fourthsection {
  padding: 20px 50px;
  background-color: #222222;
  text-align: center;
  /* line-height: 1; */
}
.fourthsection h2 {
  color: white;
  font-size: 35px;
  margin-bottom: -10px;
  font-weight: 600;
}
.fourthsection h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}
.fourthsection .aa {
  color: white;
  background-color: #ff0808;
  padding: 10px 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .fourthsection {
    padding: 20px;
    background-color: #222222;
    text-align: center;
    /* line-height: 1; */
  }
  .fourthsection h2 {
    color: white;
    font-size: 25px;
    margin-bottom: -10px;
    font-weight: 600;
  }
  .fourthsection h3 {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .fourthsection a {
    color: white;
    background-color: #ff0808;
    padding: 10px 20px;
    border-radius: 10px;
  }
}

.fifthsection {
  padding: 50px;
  background-color: #f2f2f2;
  text-align: center;
}
.fifthsection h2 {
  font-size: 35px;
  font-weight: 500;
}
.logosec {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.imgdiv {
  box-shadow: 2px 2px 2px gray;
}
.imgdiv img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 999px) {
  .fifthsection {
    padding: 20px;
    text-align: center;
  }
  .fifthsection h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .logosec {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}

/*-------------Accordian-----------------*/

h3 {
  text-align: center;
  margin: 1em 0;
  font-weight: 700;
  font-size: 50px;
  color: #212121;
}

.accordion {
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.accordion-item {
  border-top: 1px solid #c5c5c5;
  color: #333;
}

.accordion-item h2 {
  padding: 15px;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}

.accordion-content {
  max-height: 0; /* Set a default max-height, but don't display it */
  overflow: hidden; /* Hide the content */
  transition: max-height 0.4s ease-out; /* Add a transition effect when sliding down (and up) the content */
  padding: 0 1em;
}

.accordion-content p {
  padding: 1em 0;
  font-size: 16px;
  color: gray;
  margin: 0;
}

/* Add this class to .accordion-content when the accordion item is active/open */
.accordion-content.active {
  max-height: auto; /* Adjust as needed */
}

/*adding the + and - signs*/
.accordion-item h2 {
  position: relative;
  padding-right: 30px; /* Adjust as needed */
}

.accordion-item h2::before {
  content: "+";
  color: #8f060f;
  position: absolute;
  right: 10px; /* Adjust as needed */
}

.accordion-item.active h2::before {
  content: "-";
}

/* For mobile screens */
@media (max-width: 767px) {
  .accordion {
    max-width: 100vw;
    margin: 0 auto;
  }
  .accordion-item h2 {
    padding: 20px;
    font-size: 16px;
    line-height: normal;
    margin: 0;
    cursor: pointer;
  }
  .accordion-content p {
    padding: 1em 0;
    font-size: 15px;
    margin: 0;
    line-height: normal;
  }
}

.typesofsection {
  padding: 60px;
}

.typesofsection h2 {
  font-size: 28px;
  margin-bottom: -5px;
  font-weight: 600;
}

.typesofsection h3 {
  margin-bottom: -10px;
  font-size: 20px;
  font-weight: 500;
}

.typesofcard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 999px) {
  .typesofsection {
    padding: 60px 20px;
  }

  .typesofsection h2 {
    font-size: 25px;
    line-height: normal;
    margin-bottom: 0px;
    font-weight: 600;
  }

  .typesofsection h3 {
    margin-bottom: -10px;
    font-size: 20px;
    font-weight: 500;
  }

  .typesofcard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.card-title {
  color: #262626;
  text-align: start;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
  text-align: left;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #000, red);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;
  max-width: 300px;
  max-height: 320px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #fff, #fff);
  font-family: Arial, Helvetica, sans-serif;
}

.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #ff0808, #000);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);

  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
