<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect HTTP to HTTPS
    RewriteCond %{SERVER_PORT} ^80$
    RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

    # Rewrite URLs to append .php extension
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php [L]

    # Rewrite blog-article URLs
    # RewriteRule ^blog-article\.php/([^/]+)/([^/]+)$ blog-article.php?url=$1&id=$2 [L]
    RewriteRule ^blog-article\.php/([^/]+)/(\d+)$ blog-article.php?url=$1&id=$2 [L]

</IfModule>

# Error document for 404
ErrorDocument 404 /404.php